*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body{
    overflow-x: hidden;
} */

nav .left img{
    width: 50px;
    border-radius: 50%;
}

nav{
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    padding: 0px 5% 0px 5%;
    background-color: #1b4cd3;
}

/* nav .fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1b4cd3;
} */

nav .right a{
    margin-right: 15px;
    text-decoration: none;
    color: white;
}

nav .left{
    display: flex;
    align-items: center;
}

nav .left a{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.slides{
    width: 100%;
    position: absolute;
}

.slides .slide{
    display: none;
}

.slides .slide img{
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slides .navigation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slides .navigation .prev, .slides .navigation .next{
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: rgba(0,0,0,0.2);
    user-select: none;
    transition: 0.6s ease;
}

.slides .navigation .prev:hover, .slides .navigation .next:hover{
    background: rgba(0,0,0,1);
}

@keyframes fade {
    from{opacity: 0.3}
    to {opacity: 1}
}

@media (max-width: 992px){
    .slides .navigation .prev, .slides .navigation .next{
    font-size: 18px;
    padding: 13px;
    }
}

@media (max-width: 768px){
    .slides .navigation .prev, .slides .navigation .next{
    font-size: 15px;
    padding: 10px;
    }
}

@media (max-width: 576px){
    .slides .navigation .prev, .slides .navigation .next{
    font-size: 12px;
    padding: 7px;
    }
}

@media (max-width: 360px){
    .slides .navigation .prev, .slides .navigation .next{
    font-size: 11px;
    padding: 6px;
    }
}

a.card-link {
    text-decoration: none;
}