/********** Template CSS **********/
:root {
    --primary: #2124B1;
    --secondary: #4777F5;
    --light: #fafff7;
    --dark: #1D1D27;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.container-xxl.py-5 + .container-xxl.py-5 {
    margin-top: -150px; 
}

p {
    text-align: justify;
}

li {
    text-align: left;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 15px 0;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
    font-weight: 500;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 15px 0;
    color: var(--light) !important; /* Text color remains light on scroll */
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--dark) !important;
}

.navbar-light {
    background-color: var(--primary);
}

.navbar-light .navbar-brand h1 {
    color: var(--light);
    margin-top: 10px;
}

.navbar-light .navbar-brand img {
    max-height: 45px;
    transition: .5s;
}

.navbar-light .navbar-brand .ms-2 {
    font-size: 1.2rem;
    color: var(--light);
    font-weight: 500;
    margin-top: 5px;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 40px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--light) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--light);
    }

    .navbar-light .navbar-brand img {
        max-height: 40px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--primary);
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--dark);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--light);
    }
}

/*** Section Title ***/
.section-title {
    margin-top: 20px;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}

/*** Project Portfolio ***/
#portfolio-flters .btn {
    position: relative;
    display: inline-block;
    margin: 10px 4px 0 4px;
    transition: .5s;
}

#portfolio-flters .btn::after {
    position: absolute;
    content: "";
    right: -1px;
    bottom: -1px;
    border-left: 20px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 50px solid #FFFFFF;
}

#portfolio-flters .btn:hover,
#portfolio-flters .btn.active {
    color: var(--light);
    background: var(--primary);
}

.portfolio-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;
    left: 0;
    background: var(--primary);
    transition: .5s;
    z-index: 1;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-item .btn {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/icon-shape-white.png) center center no-repeat;
    border: none;
    transition: .5s;
    opacity: 0;
    z-index: 2;
}

.portfolio-item:hover .btn {
    opacity: 1;
    transition-delay: .15s;
}

/*** Testimonial ***/
.newsletter,
.testimonial {
    background:
        url(../img/bg-top.png),
        url(../img/bg-bottom.png);
    background-position:
        left top,
        right bottom;
    background-repeat: no-repeat;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--light) !important;
    border-color: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #888888;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
    color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
    color: var(--dark) !important;
}

.container-xxl.bg-primary.newsletter.my-5 .row.align-items-center .col-md-6.text-center.d-none.d-md-block img {
    width: 100%;
    height: 400px;
}

.container-xxl.bg-primary.newsletter.my-5 .row.align-items-center .col-md-6.text-center.img-visible-on-small img {
    width: 80%;
    height: 400px;
}
@media (max-width: 767.98px) {
    .container-xxl.bg-primary.newsletter.my-5 {
        background: none; /* Remove the background image */
        color: var(--light); /* Adjust the text color */
    }
}

.container-xxl.bg-primary.newsletter.my-5 {
    background:
        url(../img/bg-top.png),
        url(../img/bg-bottom.png);
    background-position:
        left top,
        right bottom;
    background-repeat: no-repeat;
    color: var(--dark); /* Change the text color */
}